body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #dd236ba8;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
  }
  
  .container {
    text-align: center;
  }
  
  h1 {
    font-size: 2.5em;
    color: #c21616;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .yes-button {
    font-size: 3.0em;
    padding: 30px 35px;
    margin-right: 5px;
    background-color: #4caf50;
    color: rgb(212, 18, 109);
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .no-button {
    font-size: 2.0em;
    padding: 20px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .gif_container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
  }
