body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9e3e3;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color:#b93d3d;
}

.gif_container img {
    width: 100%; 
    max-width: 550px; 
    height: auto; 
}
